page-history-car {

  
  
  .Hist{
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: rgb(253,53,60);
  }
  
  .datedebut{
    background-color: rgb(253,53,60);
  }
  .datefin{
    background-color: rgb(253,53,60);
    margin-bottom: 50px;
  }

  .btn{
    margin-left: 50px;
  }
}

