page-home,
.home {
  .icon-title {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: sub;
    background: url("../assets/img/icon.png") no-repeat;
    background-size: 100%; 
  }
 
  
  
  ion-content{
     background-image: url("../assets/img/bg.jpg");
     background-size: cover;
     align-items: center;
    padding-top: 1px;
    background-color: white;
    margin-top: 10px;
    .img-icon{
      border-radius: 50%;
      background-color: #ffffff;
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;
      position: relative;
    }
    ion-grid{
        background-color: none;
        margin: 0;
    }
    ion-row{
        padding: 5%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }
}

ion-footer{
  .logoImg{
    max-width: 20%;
    border: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 2s linear !important;
  }
}
   

    
}
