// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.

$text-color: rgba(86, 61, 124, .75);
$background-color: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$alert-md-background-color : #ff2053;
$alert-ios-background: #ff2053;
// $fab-size : 10px; //Change value to whatever size you want

$colors: (
  primary: #2e86de,
  secondary: #54a0ff,
  summersky:#34ace0,
  danger: #ee5253,
  light: #c8d6e5,
  dark: #222,
  success:#23ab50,
  red: #f50142,
  warning: #f56800,
  gray:#8395a7,
  lightdark:#363636,
);

// Icons

// List
$select-popover-list-margin-top: 0;

$fab-mini-size:30px;
$fab-content-margin:5px;
$fab-list-margin:5px;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";


// @font-face{
//   font-family: Pacifico;
//   src: url('../assets/fonts/Pacifico.woff2');
// }

// @font-face{
//   font-family: Garamond;
//   src: url('../assets/fonts/FBGaramond.woff2');
// }

// @font-face{
//   font-family: Patrick;
//   src: url('../assets/fonts/Patrick.woff2');
// }

*{
  font-family:  Cairo;
}